In [17]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
data = pd.read_csv('data_imdb_adventure.csv')
print(data.dtypes)
data.head()

movie_name             object
description            object
release_date           object
director               object
rating                float64
duration              float64
genre                  object
actors                 object
start_filming_date     object
end_filming_date       object
votes                 float64
dtype: object

,movie_name,description,release_date,director,rating,duration,genre,actors,start_filming_date,end_filming_date,votes
0,The Adam Project,"""After accidentally crash-landing in 2022, tim...",2022-01-01,Shawn Levy,6.8,106.0,"Action, Adventure, Comedy","Ryan Reynolds, Walker Scobell, Mark Ruffalo, J...",2020-11-18,2021-03-08,69409.0
1,Rot,A 13-year-old girl named Meilin turns into a g...,2022-01-01,Domee Shi,7.1,100.0,"Animation, Adventure, Comedy","Rosalie Chiang, Sandra Oh, Ava Morse, Hyein Park",NaN,NaN,36858.0
2,Spider-Man: No Way Home,"With Spider-Man's identity now revealed, Peter...",2021-01-01,Jon Watts,8.6,148.0,"Action, Adventure, Fantasy","Tom Holland, Zendaya, Benedict Cumberbatch, Ja...",2020-11-06,2021-03-26,530331.0
3,The King's Man,"In the early years of the 20th century, the Ki...",2021-01-01,Matthew Vaughn,6.3,131.0,"Action, Adventure, Thriller","Ralph Fiennes, Gemma Arterton, Rhys Ifans, Har...",2019-01-22,NaN,96628.0
4,Uncharted,Street-smart Nathan Drake is recruited by seas...,2022-01-01,Ruben Fleischer,6.7,116.0,"Action, Adventure","Tom Holland, Mark Wahlberg, Antonio Banderas, ...",NaN,NaN,53188.0

In [24]:
data[['release_date', 'start_filming_date', 'end_filming_date']] = data[['release_date', 'start_filming_date', 'end_filming_date']].apply(pd.to_datetime)
data[['votes', 'duration']] = data[['votes', 'duration']].astype('Int64')
data.dtypes

movie_name                    object
description                   object
release_date          datetime64[ns]
director                      object
rating                       float64
duration                       Int64
genre                         object
actors                        object
start_filming_date    datetime64[ns]
end_filming_date      datetime64[ns]
votes                          Int64
dtype: object