# Webscraping of top 100 adventure movies on IMDb

Needed information:
* Movie name
* Description
* Release Date
* Director Name
* Rating
* Duration
* Genre
* Stars (Actors)
* Filming Dates

In [105]:
import requests
from bs4  import BeautifulSoup
import pandas as pd

### Webpage
Each page can be through the `start=` filter in the url. E.g. `start=1` will list movies from 1 to 50 and `start=51` will show the next page (i.e., 51 to 100 top movies)

In [106]:
page_filter = [1, 51]

soup = {}
for start_num in page_filter:
    url = f"https://www.imdb.com/search/title/?genres=adventure&start={start_num}&explore=title_type,genres&ref_=adv_prv"
    response = requests.get(url)
    print(response)
    page = BeautifulSoup(response.content, 'html.parser')
    soup[start_num] = page

<Response [200]>
<Response [200]>

In [107]:
# movie name
movie_name = []

for key in soup:
    for tag in soup[key].find_all(class_ = 'lister-item-header'):

        movie_name.append( tag.a.text )


print(movie_name[:5])
len(movie_name)

['The Adam Project', 'Obi-Wan Kenobi', 'Rot', 'Vikings: Valhalla', 'Spider-Man: No Way Home']

100

In [112]:
# Release date
release_date = []
for key in soup:
    for tag in soup[key].find_all(class_ = 'lister-item-year'):
        date = tag.text.replace('(', '').replace(')','')
        print(date)
        release_date.append(tag.text.replace('(', '').replace(')',''))

2022
2022–
2022
2022–
2021
2022–
2021
2013–2022
2020–
2022
2013–2020
2011–2019
2021
2022
2022–
2021
2022–
2018–2022
2022–
2017–
2021–
2021
2022–
2021
2022
2019–
2022
2021
2022
2014–
1989
2019–
2013–
2021
2022
2021
1995
2022
2005–
2021–
2019–
2004–2010
1987–1994
2021–
2019
2014
2021
2022–
2021–
I 2018–
2022
2014
2016–
2021
2022
2021–2022
2022–
2022
2018–
2022–
2021
1999–
2017–
2018–
2022
2023
2008–2020
2010
2022–
2021
2021
2022
2001
2016
2019–
2022–
2001
2022
2015
2001–2011
2022
2017
2012–2020
2009
2002
2018
2017
2021
2021
1993–1999
1984
2018
2011–2018
1992–1995
2021–
1989–2001
2016
1997
2012
2022

In [90]:
# Bulk text
bulk_text = []
for key in soup:
    for tag in soup[key].find_all(class_ = 'lister-item-content'):
         bulk_text.append(tag.text.replace('\n', ''))

In [98]:
# duration 
duration  = pd.Series(bulk_text).str.extract(r'(\d+) min').squeeze()

print(duration[0:5])

len(duration)

0    106
1    NaN
2    100
3     51
4    148
Name: 0, dtype: object

100

In [96]:
# rating
rating  = pd.Series(bulk_text).str.extract(r'(\d+.\d+)Rate this').squeeze()

print(rating[0:5])
print(len(rating))

0    6.9
1    NaN
2    7.1
3    7.1
4    8.6
Name: 0, dtype: object
100

In [113]:
# test
data = pd.DataFrame({
    'release_date': release_date,
    'rating': rating,
    'duration': duration
    })

data.head()

  release_date rating duration
0         2022    6.9      106
1       2022–     NaN      NaN
2         2022    7.1      100
3       2022–     7.1       51
4         2021    8.6      148